/* ---------------------------- General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* ---------------------------- Header Styles */
header {
   padding: 45px;

}

/* ---------------------------- Nav container Styles */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* ---------------------------- Logo Styles */
.logo {
    font-size: 2rem; /* Increased font size */
    background: linear-gradient(45deg, #ea87f3, #f1ece1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    display: inline-block;
    padding: 5px 10px;
}

.logo:hover {
    transform: scale(1.1);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

/* ---------------------------- Links Styles */
.links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    color: white;
    padding: 0;
}

.links li {
    margin: 0;
    color: white;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #fba911;
}

/* ---------------------------- Call to action Styles */
.cta-button a {
    background: linear-gradient(45deg, #ea87f3, #f1ece1);
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button a:hover {
    background-color: #e89c08;
}

/* ---------------------------- Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .links {
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }

    .links li {
        margin-bottom: 1rem;
    }
}

/* ---------------------------- dev info Styles */
.dev-info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background: linear-gradient(120deg, #725bdc, #b6b6b6);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px lightskyblue;
}

.info {
    flex: 1;
}

.info pre {
    font-size: 1.3em;
    font-weight: 200;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 20px;
}

/* ---------------------------- ai bot Styles */
.ai-bot-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px;
    background-color: black;
    border-radius: 20px;
    color: white;

}

.ai {
    text-align: center;
}

.ai h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.ai p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: white;
}

.ai form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.response{
    background: linear-gradient(120deg, #725bdc, #b6b6b6);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    color: #000000;
    padding: 15px;

}

.ai form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 400px;
}

.ai form button {
    margin: 15px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #725bdc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ai form button:hover {
    background-color: #b6b6b6;
}

.ai h2 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.backdrop {
    z-index: -5;
    position: absolute;
    inset: 0;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    mask-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 1) 30%,
        rgb(0, 0, 0)
    );
    -webkit-mask-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 1) 30%,
        rgb(0, 0, 0)
    );
}

/* ---------------------------- image Styles */
.image {
    text-align: center;
    margin: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* ---------------------------- weather Styles */
.weather {
    text-align: center;
    margin: 20px;
    color: white;
}
.weather h2{
    color: white;
}
.weather p{
    color: white;
}

.weather img {
    max-width: 50px;
    height: auto;
}
footer{
    padding: 30px;
    color: white;
}

/* ---------------------------- About Section Styles */
.about-section {
    padding: 50px;
    color: white;
    background-color: black;
}

.about-container {

    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    padding: 40px;

}

.row.full-width {
    flex-direction: column;
}

.box1 {
    background: linear-gradient(120deg, #725bdc, #b6b6b6);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px lightskyblue;
    flex: 1;
}

.box2 {
    background: linear-gradient(120deg, #4727d5, #b6b6b6);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px lightskyblue;
    flex: 1;
}
.box3 {
    background: linear-gradient(120deg, #5b9cdc, #b6b6b6);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px lightskyblue;
    flex: 1;
}
.box4 {
    background: linear-gradient(120deg, #146256, #b6b6b6);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px lightskyblue;
    flex: 1;
}
.box5 {
    background: linear-gradient(120deg, #2f0ccd, #b6b6b6);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px lightskyblue;
    flex: 1;
}
.box6 {
    background: linear-gradient(120deg, #2500cb, #b6b6b6);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px lightskyblue;
    flex: 1;
}

.personal-info, .hobbies, .skills-profile {
    flex-basis: calc(33.333% - 50px);
}

.skills-profile, .experience {
    flex-basis: calc(50% - 50px);
}

.full-width .box1 {
    flex-basis: 100%;
}

h1, h2, h3 {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #fba911;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .box1 {
        flex-basis: 100%;
    }
}


/* Styles for the hamburger menu */
.menu-icon {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
}

.links {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    border-radius: 5px;
}

.links li {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.links li:last-child {
    border-bottom: none;
}

/* Ensure the hamburger menu is always visible */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Show the dropdown menu when active */
.links.show {
    display: flex;
}


/* Styles for the projects section */
.projects-section {
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.projects-container {
    width: 45vw;
    margin: 0 auto;
}

.projects-grid {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-card {
    background: linear-gradient(120deg, #725bdc, #b6b6b6);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px lightskyblue;
    text-align: center;
}

.project-card img {
    max-width: 100%;
    max-height: 390px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

h1, h2 {
    color: white;
}

p {
    color: black;
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

