{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Ronan McGill</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body>
<!----------------Header Section---------------->
<header>
    <div class="container">
        <a href="#" class="logo">Ronan's<b> Portfolio</b></a>
        <div class="menu-icon" id="menu-icon">
            &#9776; <!-- Hamburger icon -->
        </div>
        <ul class="links" id="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'work' %}">Projects</a></li>
            <!-- <li class="cta-button"><a href="{% url 'get-started' %}">Disco!</a></li> -->
        </ul>
    </div>
</header>
<!----------------Main Content Section---------------->
<section>
    <div></div>
</section>
<!----------------Developer Information Section---------------->
<section class="dev-info-section">
    <div class="space-between"></div>
    <div class="info-cont">
    <div class="info">
        <h1>Stats</h1>
        <pre>{
"name": "Ronan McGill",
"age": 27,
"location": "Ireland",
"profession": "Full Stack Developer",
"current project": <a class="link-2-project" href="https://romcgill.github.io/Bionic-reading/" target=”_blank”>"https://romcgill.github.io/Bionic-reading/"</a>
}</pre>
    </div>

    <div class="image-container">
        <img src="{% static 'images/robw.png' %}" alt="Orange">
    </div>
</div>
</section>

<!----------------AI Bot Section---------------->
<section class="ai-bot-section">
    <div class="ai">
        <h1>Find out more about Ronan</h1>
        <p>By using my in-house information retrieval bot</p>
        <form id="questionForm" method="POST">
            {% csrf_token %}
            <input type="text" id="question" name="question" required>
            <button type="submit">Ask Another</button>
        </form>

        <div class="response">
            <p id="response-text">{% if response %}{{ response }}{% else %}Ronan is 27 years old{% endif %}</p>
        </div>
    </div>
    <div class="backdrop"></div>
    <div id="loading-spinner"></div> <!-- Loading spinner element -->
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('#questionForm').on('submit', function(event) {
        event.preventDefault();
        $('#loading-spinner').show(); // Show loading spinner

        $.ajax({
            type: 'POST',
            url: '',
            data: {
                question: $('#question').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                $('#loading-spinner').hide(); // Hide loading spinner
                $('#response-text').text(response.response);
            },
            error: function(xhr, status, error) {
                $('#loading-spinner').hide(); // Hide loading spinner
                console.error(xhr.responseText); // Log error to console
                alert("An error occurred: " + error); // Alert error to user
            }
        });
    });
});
</script>




<!----------------Image Section---------------->
<!-- <section>
    <div class="image">
        <img id="image" src="{% static 'images/logo.png' %}" alt="Orange Picture">
    </div>
</section> -->

<!----------------Weather Section---------------->
<section>
    <div class="weather">
        <h2>Current Weather @ Ronan's Location:</h2>
        {% if weather %}
            <p>Temperature: {{ weather.temperature }}°C</p>
            <p>Description: {{ weather.description }}</p>
            <img src="{{ weather.icon }}" alt="Weather Icon">
        {% else %}
            <p>Weather information is not available.</p>
        {% endif %}
    </div>
</section>
<!----------------footer Section---------------->
<footer>
    <p>&copy; 2024 Ronan McGill</p>
</footer>
</body>
</html>

